<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" includeSourceInfo="true" xsi:type="File" fileName="${basedir}\logs\Debug.${cached:${date:format=yyyy-MM-dd}}.log" layout="`${longdate}|${level:uppercase=true}|${message:withexception=true}`" />
		<target name="logconsole" includeSourceInfo="true" xsi:type="ColoredConsole" />
	</targets>

	<variable name='myLevel' value='Debug'/>
	<rules>
		<logger name="*" minlevel='${var:myLevel}' writeTo="logconsole" />
		<logger name="*" minlevel='${var:myLevel}' writeTo="logfile" />
	</rules>
</nlog>